

.articles_time{display: inline-block; padding-left: 20px;background: url(../images/articles_time.png) no-repeat left center;color: #787878;}
.articles_share{display: inline-block; padding-left: 20px;background: url(../images/articles_share.png) no-repeat left center;color: #787878;}
.articles_detail{float: right;color: #285599;}





/*********************侧边***************************/

/*客户服务*/
.service{margin-top: 30px;}
.service ul{height: 329px; border:1px solid #b7babf;overflow: hidden;background: #fff; }
.service li{position: relative; border-bottom: 1px solid #b7babf; overflow: hidden;}
.service cite{margin-left: 54px;line-height: 18px;padding:8px 0; }
.service ul img{position: absolute;left: 10px;top: 10px;}
.service ul strong{display: block;font-size: 18px;font-family: Arial;font-weight: normal;}
.service ul em{display: block;font-size: 14px;color: #535353;}

.service_pic img{position: inherit !important;}
.service_float{float: left;width: 50%;border-right:1px solid #b7babf; }



/*新手指南*/
.novice{margin-top: 30px;}
.novice ul{margin-right: -10px;overflow: hidden;}
.novice li{position: relative; float: left;height: 48px;line-height: 48px;width: 150px;margin:0 6px 6px 0;text-indent: 48px;  border:1px solid #b7babf;background: #fff; }
.novice li strong{font-size: 16px;color: #7c7c7c;margin-right: 5px;font-weight: normal; }
.novice ul img{position: absolute;left: 12px;top: 7px;}
li.novice_first{width: 308px;}
.novice li:hover{background: #fedd30;border-color: #c9ab0b;}


.group{position: relative;box-shadow: 3px 3px 3px #dbe1e4;behavior:url(css/PIE.htc);}
.group h2{font-size: 18px;line-height: 45px;background: #177cb0;color: #fff;font-weight: normal;text-indent: 24px;}
.group li{position: relative; height: 35px;line-height: 36px;text-indent: 24px; border-bottom: 1px solid #d8d8d8;background: #fff;cursor: pointer;}
.group li:after{content: '';position: absolute;right: 34px;top: 14px; width: 8px;height: 8px;border-radius: 4px;background: #676767;overflow: hidden;behavior:url(css/PIE.htc); }
.group li.active{background: #efefe9;}
.group li.active:after{background: #f8be5f;}
.group li.active:before{content: '';position: absolute;left: 0;width: 5px;background: #f7bd5f;height: 36px;}

