

p{line-height: 24px;}

h2{height: 50px; line-height: 50px;font-weight: normal;color: #0f4c99;font-size: 30px;}
h2 img{vertical-align: middle;margin-right: 10px;}


.subnav{position: relative; height: 694px;padding-bottom: 20px; background: url(../images/proxy_subnav_bkg.jpg) no-repeat top center;}
.subnav ul{text-align: center;white-space: nowrap;padding-top: 300px; }
.subnav li{display: inline-block;cursor: pointer;}

.subnav strong{display: block;width: 168px;font-size: 18px;line-height: 38px;color: #10c3ff;font-weight: normal;margin-top: 10px; border-top: 1px solid #0d6bb5;}
.subnav_fixed .subnav_inside{position: fixed;height: 210px;left: 0;top: 67px;width: 100%; background: url(../images/proxy_subnav_bkg.png) no-repeat bottom center; z-index: 2;}
.subnav li.active strong{color: #fff;}

.arrow {display: block; position: relative;width: 100%;overflow: hidden;height: 20px;top: -20px;  }
.arrow:before{content: '';position: absolute;top:0; right: 50%;margin-right: 480px; width: 100%;height: 0; border-style:solid;border-width:0 20px 20px 0;border-color: transparent transparent #f1f6fa transparent;  }
.arrow:after{content: '';position: absolute;top:0;left: 50%;margin-left: -480px; width: 100%;height: 0; border-style:solid;border-width:0 0 20px 20px;border-color: transparent transparent #f1f6fa transparent;  }

.vs{position: relative;overflow: hidden;padding-bottom: 60px;}
.vs_val{margin-left: 10px;width: 1200px; height: 439px;background: url(../images/proxy_vs.png) no-repeat top left;}
.vs_val h3{float: left;width: 380px;height: 50px;margin-bottom: 53px; margin-left: 8px;margin-right: 194px; line-height: 50px;font-size: 18px;color: #fff;font-weight: normal;text-align: center;}
.vs_val p{float: left;margin-left: 8px;padding:5px 10px; width: 410px;height: 48px;margin-right: 90px;margin-bottom: 17px;}
.vs_note{text-align: center;font-size: 14px;line-height: 24px;color: #868686;margin: 10px;}


.super{position: relative; height: 867px;padding-top: 20px;}
.super:before{content: '';position: absolute;top: -22px;  background: url(../images/super_bkg.jpg) no-repeat center top; width: 100%;height: 100%;left: 0;}
.super ul{position: relative;height: 500px;margin-top: 80px;}
.super h3{float: left;height: 244px; position: relative;cursor: pointer; width: 25%;text-align: center;color: #575757;}
.super h3 strong{font-weight: normal;display: block;font-size: 18px;line-height: 36px;margin-top: 10px;}

.super cite{display: none; position: absolute;bottom: 0;left: 0;width: 100%;border: 5px solid #0099cb; height: 215px;padding: 20px 0; font-size: 14px;line-height: 24px;color: #0b0b0b;border-radius: 5px;behavior:url(css/PIE.htc);}
.super cite p{margin:20px 30px;}
.super cite img{float: left;margin:20px 30px;}

.super li.active h3{color: #fff;}
.super li.active cite{display: block;}





.condition {padding-bottom: 30px;}
.condition .center{ background: url(../images/proxy_condition_bkg.jpg) no-repeat 10px 50px; }
.condition .center>p{font-size: 14px;line-height: 24px;color: #484848;margin-left: 300px;margin-top: 80px;}
.condition ul{margin-top: 100px;}
.condition li{position: relative;margin-left: 190px;background: #6fb2dc;margin-bottom: 20px;padding: 5px 0;}
.condition li:before{content: '';position: absolute;width: 30px;height: 30px;overflow: hidden;left: -92px;top: 7px; border-radius: 15px;background: #6fb2dc;behavior:url(css/PIE.htc); }
.condition li:after{content: '';position: absolute;width: 0;height: 0;overflow: hidden;left: -15px;top: 10px; border-style: solid; border-color:transparent #6fb2dc transparent transparent;border-width:10px 15px 10px 0; }
.condition h3{font-weight: normal;color: #fff;margin:0 20px;line-height: 32px; }
.condition p {margin:0 20px;color: #002e4b; }
.condition strong{display: block; color: #fff;font-weight: normal;margin: 0 20px;}

.condition li.hot{background: #fff;border: 1px solid #6fb2dc;}
.condition li.hot h3{color: #484848;}
.condition li.hot h3:before{content: '';position: absolute;width: 0;height: 0;overflow: hidden;left: -13px;top: 10px; border-style: solid;z-index: 1; border-color:transparent #fff transparent transparent;border-width:10px 15px 10px 0; }







.settle{background: url(../images/proxy_settle_bkg.jpg) no-repeat center bottom #e1e1e1;padding-bottom: 64px;}
.settle .arrow:before,.settle .arrow:after{border-bottom-color:#e1e1e1;  }
.settle h3{font-size: 18px;line-height: 42px;font-weight: normal;margin: 10px 30px;}
.settle p{font-size: 14px;line-height: 30px;margin: 0 30px;}
.settle ul{position: relative;width: 930px;margin: 20px auto;}
.settle li{width: 275px;height: 95px;margin-bottom: 8px; background: #1770a5;color: #fff;line-height: 95px;font-size: 18px;text-align: center;}
.settle li h4{font-weight: normal;position: relative;}
.settle li cite{display: block;position: absolute;height: 300px;overflow: hidden; right: 0;top: 0;line-height: 43px;font-size: 14px;color: #525252; width: 646px;background: url(../images/proxy_settle_table.png);}
.settle li h5{float: left;height: 300px;background: #ebebeb;font-size: 18px;line-height: 38px;width: 112px;text-align: center; color: #1770a5;font-weight: normal;}
.settle li h5 strong{display: inline-block; vertical-align: middle;font-weight: normal;width: 24px;white-space: normal;}
.settle li h5 b{display: inline-block;width: 1px;height: 100%;vertical-align: middle;}

.settle li span{display: inline-block;width: 266px;border-left: 1px solid #fff;}
.settle li dt strong{color: #1770a5;font-size: 18px;font-weight: normal;}


.settle li.active cite{display: block;}
.settle li.active {background: #e9742b;}
.settle li.active h4:before{content: '';position: absolute;right: -5px;top: 50%;margin-top: -5px; border-style: solid;z-index: 1; border-color:transparent #fff transparent #e9742b;border-width:5px 0 5px 5px; }
.settle li.active h4:after{content: '';position: absolute;right: -14px;top: 50%;margin-top: -5px; border-style: solid;z-index: 1; border-color:transparent #fff transparent #e1e1e1;border-width:5px 0 5px 5px; }




.policy{background: #fff;padding-bottom: 60px;}
.policy ul{overflow: hidden;}
.policy li{float: left;margin-top: 360px; position: relative; width: 25%;text-align: center;}
.policy li p{position: absolute;bottom: 100%;padding:30px 20px;text-indent: 50px;text-align: left;  width: 190px;height: 244px;background: url(../images/proxy_policy_item.png) no-repeat;}
.policy li strong{display: block;font-size: 18px;line-height: 38px;font-weight: normal;}





.invite{position: relative;height: 512px;}
.invite:before{content: '';position: absolute;top: -22px;  background: url(../images/proxy_invite_bkg.jpg) no-repeat center top; width: 100%;height: 532px;left: 0;}
.invite a{position: absolute;left: 50%;top: 316px;width: 187px;height: 60px; text-indent: -999em;overflow: hidden;background: url(no.gif);}
.invite_had{margin-left: -232px;}
.invite_noyet{margin-left: 71px;}



.scroll{position: fixed;right: 10px;top: 50%;margin-top: -90px; width: 18px;border: 3px solid #cbcfd2;z-index: 50; border-radius: 9px;background: #fcfdfe;}
.scroll b{display: block;width: 10px;height: 10px;margin:12px auto;cursor: pointer;   border: 1px solid #9c9c9c;border-radius: 10px;background: #737474; overflow: hidden;}
.scroll b.active{background: #038cd3;}

