@charset "utf-8";
/***
@Author:     webpoin
@Email:      1357113262@qq.com
***/

html{*border:none;;overflow-y:scroll; overflow-x:auto;}
body{margin: 0; font:normal 12px/24px "微软雅黑", Arial,Tahoma,Helvetica,sans-serif;color:#787878;width: 100%;min-width:1000px;background: #f0f6fa;}
h1,h2,h3,h4,h5,h6,ol,ul,p,form,dl{margin-top:0;margin-bottom:0}
img{border:none;vertical-align:top;}
ol,ul,dd{padding-left:0;margin-left:0; }
ul{list-style-type:none;}
cite{font-style:normal;display: block; }

h1 {font-size:xx-large;}
h2 {font-size:x-large;}
h3 {font-size:large;}
h4 {font-size:medium;}
h5 {font-size:small;}
h6 {font-size:x-small;}

a{text-decoration:none;white-space:nowrap;color:inherit;}

em{font-style: normal;}
p {font-family:"\5b8b\4f53"; }
p a{white-space: normal;}


/*公共定义*/
.fl{float:left;} .fr{float:right;}
.cs{zoom:1;} .cs:after{content:" ";display: block;visibility:hidden;height: 0;clear: both;}
.oh{overflow:hidden;} .oa{overflow:auto; }
.se{overflow:hidden;text-indent:-999em;*background:url(no.gif); }
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}.ti{text-indent:2em;}
.db{display:block;} .di{display:inline;} .dk{display:inline-block;*display:inline;*zoom:1;}
.dd,.dl,.da{letter-spacing:-0.5em;*letter-spacing:normal;}
.da{*word-spacing:-0.5em; }.da>a{*word-spacing:normal;}
.dd>div,.dl>li,.da>a{display:inline-block;*display:inline;letter-spacing:normal;vertical-align:top;}
.vt{vertical-align:top;}.vb{vertical-align:bottom; }.vm{vertical-align:middle; }
.pr{position:relative;}.pa{position:absolute;}
.clear{ clear: both;}

.center{width: 1000px;margin:0 auto;position: relative; }
.main {width: 654px;float: left;}
.side{width: 310px;float: right;}



.articles_time{display: inline-block; padding-left: 20px;background: url(../images/articles_time.png) no-repeat left center;color: #787878;}
.articles_share{display: inline-block; padding-left: 20px;background: url(../images/articles_share.png) no-repeat left center;color: #787878;}
.articles_detail{float: right;color: #285599;}


/*模块*/
.m-tle{position: relative;height: 24px;margin-bottom: 15px; font-size: 24px;line-height: 24px;border-left:3px solid #336699;color: #535353;text-indent: 5px;white-space:nowrap;  }
.m-tle strong{font-weight: normal;margin-right: 20px;}
.m-tle small{font-size: 18px;vertical-align:0;font-weight: normal;}
.m-tle em{position: absolute;right: 5px;bottom: 0;font-size: 12px;font-weight: normal;font-family: "\5b8b\4f53" ;}




/*图片裁剪*/
.clip{position: relative;display: inline-block;vertical-align: middle;overflow: hidden;}
.clip img{position: absolute;left: 0;top: 0;}

/*顶部*/
.head_top{position: relative; height: 24px;line-height: 24px;background: #05213c;color: #fff; white-space:nowrap;}
.head_top_host{display: inline-block;margin-right: 15px;color: #fff; }
.head_top_clock{display: inline-block;vertical-align: top;}
.head_top_clock span{float: left;position: relative; margin-right: 5px;width: 100px;text-indent: 20px;overflow: hidden; }
.head_top_clock b{margin-left: 3px;font-weight: normal;}
.head_top_clock img{position: absolute;left: 0;top: 7px;}
.head_top_clock .clip{vertical-align:-3px; width: 17px;height: 12px;margin-right: 3px;}
.head_top_login{display: inline-block;position: absolute;right: 0;top: 0; }
.head_top_login a{color:#ffd129; }





/*头部*/
.head{width: 100%;position: relative; height: 88px;text-align: right;background: #fff; box-shadow: 0 5px 5px #adb2b5; behavior:url(/static/css/pie.htc);}
.head .center{height: 88px; position: relative;}
.head_logo{position: absolute;left: 0;  top: 23px;}
.head_search {position: absolute;padding:0;  width: 245px; top: 10px;right: 0; height: 26px;z-index: 1;background: #fff; z-index: 2;}
.head_search div{position: relative;width: 245px; line-height: 26px;  height: 26px; vertical-align: top;text-align: left;overflow: hidden;}
.head_search input[type=text]{position: absolute;right: 0; top:0;height: 18px; margin: 0;border:1px solid #ddd; outline:none;width: 180px; background:none;line-height: 18px;padding: 3px 26px 3px 10px;border-radius:13px;  behavior:url(/static/css/pie.htc);}
.head_search input[type=submit]{position: absolute;right:0;top: 0;margin: 0;padding: 0;border:none; width: 26px;height: 26px; background: url(../images/search_btn.png) no-repeat center center #236be1;outline:none; overflow: hidden;cursor:pointer;border-radius: 13px;  behavior:url(/static/css/pie.htc);}
.head_search ul{display: none; position: relative;top: -2px;text-indent: 5px; background: #fff;border:1px solid #c8c8c8;border-radius:0 0 5px 5px;z-index:1;  }
.head_search li:nth-child(1){background: #236be1;color:#fff; }

.head_hot{position: absolute;right: 100%;white-space:nowrap;font-family: "宋体"; }
.head_hot a{color: #888;margin:0 5px; }

.head_nav{position: absolute;bottom: 0;right: 0; height: 50px;line-height: 50px;font-size: 16px;color: #535353;z-index: 1;}
.head_nav dl{float: left;position: relative; width: 80px;text-align: center;}
.head_nav dt{position: relative;height: 50px;}
.head_nav dd{display: none; position: absolute;padding: 10px 20px;top: 50px;left: 50%;margin-left: -96px; line-height: 39px; width: 150px;text-align: left; background: #f5f8fc;border: 1px solid #c0c7d8;}
.head_nav dd:before{content: '';position: absolute;left: 50%;top: -12px;margin-left: -12px;width: 0;height: 0; border-style: solid;border-width: 0 12px 12px 12px;border-color: transparent transparent #c0c7d8 transparent; }
.head_nav dd:after{content: '';position: absolute;left: 50%;top: -11px;margin-left: -12px;width: 0;height: 0; border-style: solid;border-width: 0 12px 12px 12px;border-color: transparent transparent #f5f8fc transparent; }
.head_nav dd a{display: block;  border-bottom: 1px solid #bfbfbf;height: 39px;line-height: 40px;}
.head_nav dd em{display: block; padding: 10px 0;  border-bottom: 1px solid #0083cf;color: #0083cf;font-size: 18px;line-height: 30px;}
.head_nav dd em strong{display: block;font-size: 24px;font-weight: normal;}
.head_nav dd span {display: block; position: relative;border-bottom: 1px solid #bfbfbf; }

.head_nav dd span i{position: relative;display: inline-block;position: absolute;right: 0;top: 0;cursor: pointer; height: 100%;width: 16px;}
.head_nav dd span i:before{content: '';position: absolute;right: 0;top: 50%;margin-top: -3px;width: 0;height: 0; border-style: solid;border-width: 8px 8px 0 8px;border-color:  #7b7b7b transparent  #7b7b7b; }
.head_nav dd span i:after{content: '';position: absolute;right: 0;top: 50%;margin-top: -6px;width: 0;height: 0; border-style: solid;border-width: 8px 8px 0 8px;border-color:  #f5f8fc transparent #f5f8fc; }

.head_nav dd span i.hide:before{margin-top: -6px; border-width: 0 8px 8px 8px;}
.head_nav dd span i.hide:after{margin-top: -3px; border-width: 0 8px 8px 8px; }

.head_nav dd span i:hover:before{border-color:  #0083cf transparent  #0083cf; }





.head_nav cite{padding:10px 0; font-size: 14px;line-height: 24px;border-bottom: 1px solid #bfbfbf;text-indent: 40px;}
.head_nav cite a{border-bottom: none;line-height: 24px;height: 24px;}


.head_nav dd a:hover{text-decoration: underline;}
.head_nav dl:hover dd{display: block;}
.head_nav dl:hover dt{color: #0083cf;}
.head_nav .active dt{color: #0083cf;}
/*.head_nav dl:hover:after{content: ''; position: absolute;bottom: 10px;width: 100%;height: 1px;overflow: hidden;background: #f00;}*/


.head_fixed{position: fixed;z-index: 2;background: #fff;left: 0;top: 0;width: 100%;border-bottom:1px solid #dadada; box-shadow: 0 2px 5px #999; behavior:url(/static/css/pie.htc); }
.head_fixed .head_hot{display: none;}
.head_fixed .center{height: 66px;}
.head_fixed .head_logo {top:10px;}
.head_fixed .head_nav{right: 80px;line-height: 66px;height: 66px;}
.head_fixed .head_nav dt{line-height: 66px;height: 66px;}
.head_fixed .head_nav dd{top: 66px;}

.head_fixed .head_search {top:0;width: 26px;height: 26px;padding:20px; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; overflow: hidden;}
.head_fixed .head_search div{position: absolute;right: 20px;background: #fff;}
.head_fixed .head_search input[type="text"]{display: none;}
.head_fixed .head_search input[type=submit]{background-color: #9e9e9e;}
.head_fixed .head_search:hover {width: 220px;}
.head_fixed .head_search:hover input[type="text"]{display: block;}
.head_fixed .head_search:hover input[type=submit]{background-color: #236be1;}





/*底部*/
.foot{background: #082c4f;overflow: hidden;padding: 13px 0 20px;color: #d6d6d6;color: #d6d6d6;}
.foot .center>div{float: left;margin-right: 50px;}
.foot h2{font-size: 24px;line-height: 54px;margin-bottom: 10px;border-bottom: 1px solid #395672;color: #fff;}
.foot h2 img{vertical-align: -5px;}
.foot em{color: #fff;}

.foot_nav ul{float:left; width: 150px;font-size: 14px;line-height: 20px; }
.foot_nav li{height: 20px;}
.foot_nav li:hover{text-decoration: underline;}
.foot_nav strong a{color: #fff;}

.foot_wechat{width: 190px;}
.foot_wechat{font-size: 12px;line-height: 20px;}
.foot_wechat em{font-size: 14px;}
.foot_wechat img{margin-top: 10px;}

.foot_sub{width: 210px;}
.foot_sub input[type="text"]{position: relative; width: 138px; height: 18px;outline: none; line-height: 18px;padding:6px;border:1px solid #a3b1be;border-radius:5px;margin-top: 5px;color: #79a1c7;   behavior:url(/static/css/pie.htc); }
.foot_sub input[type="submit"]{position: relative; width: 72px;height: 30px; outline: none;padding: 0;margin: 0;background: #1b3d5d; border: none;border-radius:5px;font-size: 14px;line-height: 30px;text-align: center;color: #fff;  behavior:url(/static/css/pie.htc); }

.foot_copy{height: 50px;line-height: 50px;background: #05213c;text-align: right;color: #fff;}
.foot_copy a{float: left;font-size: 14px;color: #fff;margin-right: 15px;}



/*右边悬浮*/
.fixed{display: none; position: fixed;width: 75px; background: #1059c7; margin-left: 535px;font-size: 14px;line-height: 24px; left: 50%; top: 49%;}


/*位置*/
.location{font-size: 12px;line-height: 38px;color: #177cb0;font-family: "宋体";}


