.product_border { border-bottom:1px solid #dbdbdb; padding-top:20px; width:100%; margin-bottom:20px;}
.product ul li { position:relative; line-height:30px; padding:0; margin:0; border:none; text-indent:20px;}
.product ul li:before{content: '';position: absolute;width: 10px;height: 10px;overflow: hidden;border-radius: 15px;behavior:url(css/PIE.htc);background:#e09e01; top:10px; margin-left:-15px;  }
.product_khbox {position:relative; width:600px; border:1px dashed #b9bbbd; background:#eaf4fe; padding:25px; font-size:14p;border-radius: 3px;behavior:url(../css/PIE.htc);}


.product_khbox a { color:#e65e42;}
.product_butt {width:198px; height:38px; margin-top:16px;}
.product_butt a { display:block; background:#2c8cb4; color:#FFF; line-height:38px; text-align:center;}
.product_butt a:hover { background:#177cb0;}
.product h2 {font-size: 24px;font-weight: normal;color: #177cb0;line-height: 22px;border-left: 3px solid #177cb0;margin-bottom: 8px; border-bottom:none; text-indent:15px; padding:0;}
.product h3 { font-size:18px; padding:30px 0 20px 0;}
.product_bz { background:#e6e6e6; width:600px; padding:15px 25px 15px 25px ; display:block; margin-top:15px; margin-bottom:15px;}

.product { padding-bottom:40px;}
.product table { border-color:#FFF; text-indent:10px;border-collapse:collapse;} 
.product table tr {border-bottom:2px solid #FFF;}
.product table td {border-right:2px solid #FFF;}
.product table th {border-right:2px solid #FFF;}

.product .product_sy li:before {display:none !important; }
.product .product_sy li { position:relative; border-bottom:1px dotted #bfbfbf; margin-bottom:25px;}
.product .product_sy li img { position:absolute; left:0; top:0;}
.product .product_sy li p { padding-left:95px; text-indent:0; height:auto; overflow: auto; line-height:24px;}
.product h4 {padding-left:75px;}  
.product_sy p { min-height:50px;}

/*私隐条款*/
.product .blue{color: #177cb0;}
/*网站地图*/
.product dl{ width: 630px; padding: 0 20px;}
.product dl dt{ float: left; font-size: 18px; color: #535353; height: 40px; line-height: 40px; padding-top: 10px; border-bottom: 1px solid #A0A0A0;width: 630px; }
.product dl dt span{ border-bottom: 2px solid #535353;height: 40px; line-height: 40px; display: inline-block;}
.product dl dd{ float: left; display: inline-block;  margin: 10px 24px 10px 0; }
.product dl dd.b_right{width: 80px;}
.product dl dd.b_right a {border-right: 1px solid #787878; color: #535353;padding-right: 22px;font-size: 14px;}
.product dl dd a { font-size: 12px; width: 66px;}
/*财经日历*/
.product .financial_data{border-top:1px solid #BCBCBC; border-bottom:1px solid #BCBCBC; height:88px; margin:12px 0; padding:0 10px;}
.product .financial_data p{ font-size:14px; color:#494949; margin:5px 0 0 0;}
.product .financial_data ol{ list-style:none; margin-top:15px;}
.product .financial_data ol li{ float:left; margin-right:27px;}
.product .financial_data ol li:last-child{ float:left; margin-right:0;}
.product .financial_table th,.financial_table2 th{ color:4E4E4E; font-size:14px; border-bottom:3px solid #FB6F56; padding:10px 5px; }
.product .financial_table td{ text-align:center;padding:8px 5px;}
.financial_table2 td{text-align:left;padding:8px 5px;}
.product .financial_table tr,.product .financial_table2 tr{border-bottom:1px dotted #D2D2D2;}
.gray_th{ background:#D2D2D2;}
.gray_td{ background:#F3F3F3;}

.product .financial_table3 th{ background:#f1f1f1; text-align:center;padding:8px 2px}
.product .financial_table3 td{color:4E4E4E; font-size:12px;  padding:8px 4px; background:#F6F6F6; text-align:center; vertical-align:top;}

.calendar1 form{font-size:12px; margin-top:12px;}
.calendar1 input {background: url(../images/channel_datepicker.png) no-repeat 5px center;text-indent: 20px; width:130px; height:18px;line-height: 18px; padding:3px 5px; border:1px solid #285599;-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px;}
.calendar1 table{line-height: 30px;text-align: center;}
.calendar1 thead td{border-bottom: 3px solid #fa6f57;color: #4d4d4d;}
.calendar1 tbody td{border-bottom: 1px dotted #d2d2d2;}